*,
body {
  font-family: Arial;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

#topnav {
  background-color: #EBF9F8;
}


h1 {
  font-size: 30px;
  margin-left: 60px;
}

h2 {
  background-color: #EBF9F8;
}

h1 span {
  color: #16bbce;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #16bbce;
}

h2 span {
  color: black;
}

.name {
  text-align: center;
  margin-left: 100px;
}

.theme {
  text-align: center;
  margin-left: 20px;
}

.square_circle {
  margin-left: 100px;
  border-radius: 50%;
}

/* ACES */
section #about,
#content,
#edux,
#skills {
  margin: auto;
  width: 100%;
}

#about p,
h1 {
  margin-left: 60px;
}

#about #contact-icons img {
  margin-left: 60px;
  border: 3px solid #16BBCE;
  width: 75px;
  height: 75px; 
}

#content #card-link {
  font-weight: bold;
  font-size: 16px;
  color: black;
  background-color: #EBF9F8;
  border: 4px solid #33CCCC;
  margin-left: 20px;
}

#content .github6,
.exhibit6 {
  border: 4px solid #16bbce;
  font-size: 16px;
  height: 240px;
  margin-left: 60px;
  width: 400px;
}

#content h5,
h6 {
  margin-left: 20px;
}

#edux .school,
.bootcamp {
  border: 4px solid #16bbce;
  font-size: 16px;
  height: 200px;
  margin-left: 60px;
  width: 400px;
}

.skills6 {
  margin-left: 60px;
  width: 75px;
  height: 75px;
}

